awsebcli==3.12.1
beautifulsoup4==4.6.0
botocore==1.8.9
cement==2.8.2
certifi==2017.11.5
chardet==3.0.4
cheroot==5.10.0
CherryPy==12.0.2
colorama==0.3.7
docker-py==1.7.2
dockerpty==0.4.1
docopt==0.6.2
docutils==0.14
html5lib==0.999999999
idna==2.6
jaraco.classes==1.4.3
Jinja2==2.10
jmespath==0.9.3
MarkupSafe==1.0
pathspec==0.5.0
portend==2.2
pypiwin32==219
python-dateutil==2.6.1
pytz==2017.3
PyYAML==5.4
redis==2.10.6
requests==2.9.1
semantic-version==2.5.0
six==1.11.0
tabulate==0.7.5
tempora==1.9
termcolor==1.1.0
urllib3==1.22
webencodings==0.5.1
websocket-client==0.44.0
